body {
  background-image: url(blackwhite.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.navigation {
  align-items: center;
  display: flex;
  height: 15vh;
  margin: auto;
  width: 100%;
}

nav {
  flex: 1;
  padding-left: 50px;
}

nav ul li {
  margin: 0px 30px;
  display: inline-block;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

/* Main Page Full Stack Developer Text */
h3 {
  position: absolute;
  top: 500px;
  left: 360px;
  margin: 20px;
  font-size: 40px;
}

/* Main Page Photos (Headshot, Twiggy, Nameloc */
.headshot-img {
  top: 300px;
  right: 160px;
  height: 600px;
  position: absolute;
}

.twiggy-img {
  bottom: 300px;
  left: 500px;
  height: 400px;
}

.Nameloc-img {
  top: 280px;
  left: 50px;
  height: 200px;
  position: absolute;
}

.project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.project {
  text-align: center;
  max-width: 300px;
  margin: 0 10px;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project h2 {
  margin: 10px 0;
}

.project p {
  color: #666;
}

/* Contact Page CSS */
h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

